@import '~@fluentui/react/dist/sass/References.scss';
:global { 
  #workbenchPageContent, .CanvasComponent.LCS .CanvasZone {
  max-width: 100% !important;
}
}
.body1{
  
  background-color:rgba(196, 196, 216, 0.95)
}
.nav{
  background-color: rgba(14, 14, 130, 0.553);
  height: 11vh;
  display: flex;
  flex-direction: row;
}
.nav h2
{
  padding: 14px;
}

.section {
  display: flex;
  justify-content:space-between;
  background-color:  rgba(196, 196, 216, 0.95);
  height: 10vh;
  padding: 30px;
}
.section2 {
  display: flex;
  justify-content:space-around;
  background-color:  rgba(196, 196, 216, 0.95);
  height: 5vh;
  padding: 30px;
  align-items: center;
}
.search{
  margin-left: 5%;
}
.button{
  max-height: 8vh;
  max-width: 15vw;
  margin-right: 5%;
}
.button1{
  background-color: rgba(39, 39, 138, 0.553);
  border: #00000000 1px solid;
  border-radius: 20px;
  border-width: 1vw;
  text-decoration:none;
  text-align: center;
  color:black;
}
.searchInput{
  max-height: 15vh;
  max-width: 100vh;
  margin: 5px;
}
.tet1 , .email1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.employcontainer{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
.space{
  margin-left: 50px;
      
}
.container{
  padding: 30px;
  
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}  
button:hover, a:hover {
  opacity: 0.7;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 35vw;
    margin: 20px;
    padding: 30px;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
    overflow: hidden;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 35vw;
    margin: 20px;
    padding: 30px;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
    overflow: hidden;
  }


  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    margin: 5px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }  
  button:hover, a:hover {
    opacity: 0.7;
  }
.Listing{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-around;
  
}

#upload-container{
  text-align:center;
}
#upload-border{
  height:30px;
  border:1px solid #2077C9;
  display:inline-block;
  padding-left:7px;
  margin:20px 0;
}

#upload-name{
  height:70%;
  border:none;

}

#upload-button{
  height:100%;
  padding:0 20px;
  border:none;
  background:#2077C9;
  color:white;
  cursor:pointer;
}

#upload-name:focus, #upload-button:focus{
  outline:none;
}
.uploadcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.selectedfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.selectedfile img {
  max-width: 100%;
  margin-top: 10px;
}
.image1 img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ddd;
  object-fit: cover;
  overflow: hidden;
}


//table start
.tablecontainer {
  margin:.5vw;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px rgba(110, 124, 133, 0.8);
  box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
  padding: .5vw;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    display: inline-block;
    border-bottom: none;
  }

  thead {
    display: none;
  }

  tbody tr {
    border-top: 1px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }

  tbody td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    display: inline-block;
    width: 120px;
  }
}
//table end 

//profile
.employcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 100px;
}

.image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  margin: 0;
}

.space {
  margin-left: 10px;
}
